<div>
  <form method="POST">
    <label for="name-input">Place name:</label>
    <input id="name-input" type="text" placeholder="name" name="name">
    <label for="type-select">What type of place:</label>
    <select name="type" id="type-select">
      <option value="coffee_shop">Coffee Shop</option>
      <option value="book_store">Book Store</option>
    </select>
    <label for="lat-input">Latitude:</label>
    <input id="lat-input" type="text" placeholder="latitude" name="latitude">
    <label for="lon-input">Longitude:</label>
    <input id="lon-input" type="text" placeholder="longitude" name="longitude">
    <br>
    <button>Add to database</button>
  </form>
</div>